requests 
API_ID = 29626345

API_HASH =
aa9e1548ac0ec312c106d96db7abd492
SESSION= 1BVtsOHMBu7uv0qZm-IXHRef4w5PjL9VT4zLcKcQlYv2MQx9fAAs5YtCPrDYO07SCg6zRWChpG3R4YJvPxasZAp0KyUkZht_ciXhmnap60YX5ABg2TuAmUU7fNabelF5DezknbqOjRRmJsThXi-0xWbT5dSKZU3S5b3Sb2mfE-t_-gK50MCHSibyWi_sqxj7Zj_CjnD4BzbU9WnU3iWTqbqCDLT1D1cZUe_V-VcsgmBS7-ICzHJYmePVnqhvelisKDplls6My1q2YSHVKCMO1EjQVzSyIj5BXcdYTGN11heS9UfMYuAg_FO1jxlbrEZaSe3xB_b1r_W5GvytEwXioO2cwPUiq2Ag=

BOT_TOKEN =  6481937931:AAGDQAe3vrb56vifOLXd4XOvMBtWu1xkIDU
LOG_grup   =   -1001988108526
